# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
vendor/.git
/solr/biblio/index
/solr/biblio/spellchecker
/solr/biblio/spellShingle
/solr/biblio/tlog
/crra/marc-incoming/ctu.mrc
/crra/marc-updated/ctu.mrc
/crra/crra-scripts/logs/bar-indexing.log
/.gitignore
bar-indexing.log
/crra/crra-scripts/logs
/local
cache
/local
/cronjob
/env.sh
/log
