# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
/vendor
composer.lock
composer.phar
import/solrmarc.log
import/solrmarc.log.1
/cronjob
/crra/crra-scripts/logs
/crra/crra-scripts/logs/bar-indexing.log
/crra/data
/crra/marc-incoming/*
/env.sh
/local
/log

bar-indexing.log
cache
marc-incoming
